#add_characters {
    position: relative;
    left: 1%;
    margin-top: 1%;
}

#update_characters{
    position: relative;
    left: 1%;
    margin-top: 1%;
}

#del_characters{
    position: relative;
    left: 1%;
    margin-top: 1%;
}