.messages{
    width: 80%;
    position: relative;
    left: 10%;
    margin-top: 25px;
    background-color: khaki;
}
.sending{
    position:relative;
    left: 10%;
    margin-top: 5px;
}
#newMessage{
    width: 50%;
    background-color: #6cacc5;
}

.controllersD {
    display: none;
    float: right;
}

.main_usr_time{
    position: absolute;
    right: 10%;
    color: rgb(66, 204, 239);
    font-family: 'Comic Sans MS';
    font-size: small;
}

.main_usr_name{
    color: indigo;
    line-height: 25px;
}

.main_usr_message{
   color: rgb(66, 204, 239);
   line-height: 25px;
}

.usr_name{
    color:  red;
    line-height: 25px;
}

.usr_time{
    position: absolute;
    right: 10%;
    color: orangered;
    font-family: 'Comic Sans MS';
    font-size: small;
}

.usr_message{
   color: orangered;
   line-height: 25px;
}

#content{
    width:80%;
    height:100%;
    display:block;
    float:right;

}

.menu{
    width:10%;
    background-color:khaki;
    height:100%;
    display:block;
    float:left;

}

.unCheckedChat{
    background-color:#6cacc5;
    color:orangered;
    position:relative;
    font-size:12px;
}

.btn-group button {
    border: 1px solid green;
    padding: 10px 24px; /
    cursor: pointer;
    width: 100%;
    display: block;
}

.plus_chat{
    background-color:#6cacc5;
    color:orangered;
    position:relative;
    font-size:20px;

}

.checkedChat{
    background-color:red;
    color:teal;
    position:relative;
    font-size:16px;

}

