.messages{
    width: 80%;
    position: relative;
    top: 2%;
    left: 1%;
}
.sending{
    width: 80%;
    position: relative;
    top: 5%;
    left: 1%;
}
#newMessage{
    width: 50%;
}

.msg{

}

.controllersD {
    display: none;
}

.controllersE {
    display: none;
}
