.messages{
    width: 80%;
    position: relative;
    margin-top: 25px;
    left: 10%;
    background-color: khaki;
}
.sending{
    width: 80%;
    position: relative;
    margin-top: 5px;
    left: 10%;
}
#newMessage{
    width: 50%;
    background-color: #6cacc5;
}

.controllersD {
    display: none;
    float: right;
}

.message_time{
    position: absolute;
    right: 10%;
    color: orangered;
    font-family: 'Comic Sans MS';
    font-size: small;
}

