header {
    width: 100%;
    height: 5%;
    background-color: lightslategray;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

footer {
    width: 100%;
    height: 5%;
    position: relative;
    background-color: black;
    clear: both;
}

.center {
    width: 100%;
    height: 90%;
    background-color: teal;
}


#aT {
    width: 30%;
    height: 50%;
    background-color: black;
    color: teal;
    text-align: center;
    position: relative;
    left: 35%;
    top: 30%;
    display: inline-block
}

#contacts {
    width: 30%;
    height: 50%;
    background-color: black;
    color: teal;
    text-align: center;
    position: relative;
    top: 30%;
    display: inline-block
}

#vk {
    display: inline-block;
    cursor: pointer;
}

#dis {
    display: inline-block;
    cursor: pointer;
}

#support{
    background-color: black;
    color: teal;
    text-align: center;
    position: relative;
    right: 5%;
    top: 30%;
    display: inline-block;
    cursor: pointer;
}

.icon {
    display: inline-block;
    position: relative;
    left: 1%;
    margin-top: 1%;
}

.cabinet {
    display: inline-block;
    float: right;
    position: relative;
    right: 2%;
    margin-top: 1%;
}

.chat_room {
    display: inline-block;
    float: right;
    position: relative;
    right: 3%;
    margin-top: 1%;
}

#content {
    width: 100%;
    float: left;
    background-color: teal;
}

#content {
    min-height: 80%;
    padding-bottom: 0px;
    display: table-cell;
    height: auto;
    overflow: hidden;
}

.logout {
    display: inline-block;
    float: right;
    position: relative;
    right: 1%;
    margin-top: 1%;
}

.login {
    display: inline-block;
    float: right;
    position: relative;
    right: 1%;
    margin-top: 1%;
}

.registration {
    display: inline-block;
    float: right;
    position: relative;
    right: 2%;
    margin-top: 1%;
}



.field {
    clear: both;
    text-align: right;
    line-height: 25px;
}

.field2 {
    float: left;
    padding-right: 10px;
}

.field3 {
    margin-left: 15px;
    color: darkorange;
}

input{
    background-color: #6cacc5;
}

button{
    background-color: chocolate;
    color: black;
}
