#profile-form{
    width: 250px;
    height: 240px;
    position: absolute;
    top: 25%;
    left: 40%;
    float: left;
}

#update_usr_profile{
    position: relative;
    left: 20%;
    display: inline;
}

#go_back-to_cabinet{
    position: relative;
    left: 25%;
    display: inline;
}