<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test API</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="/static/js/add_update_characters.js"></script>
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/add_update_characters.css">
    <script src="../static/js/general.js"></script>
</head>
<body>
<header>
    <section class="top">
        <a th:href="@{/}" class="icon">
            <img src="../static/img/alliance.png" height="55" width="55"/>
        </a>
        <form th:action="@{/logout}" method="post" class="logout">
            <input type="submit" value="Sign Out"/>
        </form>
    </section>
</header>
<div class="center">
    <section id="test">
        <button id="add_characters" onclick="addCharactersInDB()">Add  characters from Blizzard DB to After Dark DB</button>
        <br><button id="del_characters" onclick="delAllCharactersFromDB()">delete all characters from after dark DB</button>
        <br><button id="update_characters" onclick="updateCharactersInDB()">update characters in after dark DB</button>
    </section>
</div>
<footer>
    <div id="contacts">
        <div id="vk" onclick="vk()">VK |</div>
        <div id="dis" onclick="discord()">Discord</div>
    </div>
    <div id="aT">
    </div>
</footer>
</body>
</html>