<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Чат гильдии После Тьмы</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script th:inline="javascript">
        var user = [[${user}]];

    </script>
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/chat.css">
    <script src="../static/js/general.js"></script>

</head>
<body>
<header>
    <section class="top">
        <a th:href="@{/}" class="icon">
            <img src="../static/img/alliance.png" height="55" width="55"/>
        </a>
        <form th:action="@{/logout}" method="post" class="logout">
            <input type="submit" value="Sign Out"/>
        </form>
        <a th:href="@{/main}" class="cabinet"></a>
        <a th:href="@{/login}" class="login">Login</a>
        <a th:href="@{/registration}" class="registration">Registration</a>
        <a th:href="@{/chat_room}" class="chat_room">Chat</a>
    </section>
</header>
<div class="center">

    <section class="menu">
        <div class="btn-group">
            <button class="plus_chat" onclick="addChatter()">&#10010</button>
            <button id="general chat" class="checkedChat" onclick="moveToGeneralChat()">general chat</button>
        </div>

    </section>
    <section id="content">
        <section class="messages">

        </section>

        <div class="sending">
            <textarea rows="7" id="newMessage"></textarea>
            <p></p>
            <button id="sendMessage" type="button" onclick="sendMessage()">Send</button>
            <button id="changeMessage" type="button" onclick="changeMessage()" style="display: none">Change</button>
        </div>
    </section>
</div>

<footer>
    <div id="contacts">
        <div id="vk" onclick="vk()">VK |</div>
        <div id="dis" onclick="discord()">Discord</div>
    </div>
    <div id="aT">
    </div>
    <div id="support" onclick="goToSupport()">Support</div>
</footer>
<script src="/static/js/chat.js"></script>

</body>
</html>