<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Чат гильдии После Тьмы</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script th:inline="javascript">
        var user = [[${user}]];
    </script>
    <link rel="stylesheet" href="/static/css/chat.css">
    <link rel="stylesheet" href="/static/css/general.css">

</head>
<body>
<header>
<section class="top">
    <a th:href="@{/}" class="icon">After Dark</a>
    <form th:action="@{/logout}" method="post" class="logout">
        <input type="submit" value="Sign Out"/>
    </form>
    <a th:href="@{/main}" class="cabinet"></a>
    <a th:href="@{/login}" class="login">Login</a>
    <a th:href="@{/registration}" class="registration">Registration</a>
</section>
</header>

<div class="center">
<section id="messages">

</section>

<textarea id="new_message" rows="2" placeholder="say something"></textarea>
<button type="button" onclick="sendMessage()">Send</button>
</div>
<footer>
    <div id="contacts">
        <div id="vk" onclick="vk()">VK |</div>
        <div id="dis" onclick="discord()">Discord</div>
    </div>
    <div id="aT">
    </div>
</footer>
<script src="/static/js/chat.js"></script>
</body>
</html>