<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About After Dark</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/inform.css">
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="../static/js/general.js"></script>

</head>
<body>
<header>
    <section class="top">
        <a th:href="@{/}" class="icon">
            <img src="../static/img/alliance.png" height="55" width="55"/>
        </a>
        <form th:action="@{/logout}" method="post" class="logout">
            <input type="submit" value="Sign Out"/>
        </form>
        <a th:href="@{/main}" class="cabinet"></a>
        <a th:href="@{/login}" class="login">Login</a>
        <a th:href="@{/registration}" class="registration">Registration</a>
        <a th:href="@{/chat_room}" class="chat_room">Chat</a>
    </section>
</header>
<div class="center">
    <div id="menu">
        <button id="menu1" class="vmenu">Состав</button>
        <button id="menu2" class="vmenu">Устав</button>
        <button id="menu3" class="vmenu">Рекрутинг</button>
        <button id="menu4" class="vmenu" style="display: none">Анонсы</button>
    </div>
    <div id="content">
        <div id="team" style="display:none;">
            <table id="myTable">
                <thead id="titles">
                <tr>
                    <th class="head">Name</th>
                    <th class="head">Rang</th>
                    <th class="head">Level</th>
                    <th class="head">Class</th>
                    <th class="head">Links</th>
                </tr>
                </thead>
                <tbody id="body">


                </tbody>
            </table>
        </div>

        <div id="chart" style="display:none;">
            <pre id="chartText"></pre>
            <button type="button" onclick="updateChart()" id="updateC">Update Chart</button>

        </div>
        <div id="chartEditing" style="display:none;">
            <textarea rows="40" id="changedChart"></textarea>
            <button id="changeC" onclick="changeChart()">Change</button>
            <button id="cancelC" onclick="goBackToCharter()">Cancel</button>
        </div>

        <div id="recruiting" style="display:none;">
            <pre id="recruitingText"></pre>
            <button type="button" onclick="updateRecruitingText()" id="updateR">Update Chart</button>

            <div id="call">
                <pre>Отправить запрос на вступление в гильдию</pre>
                <p></p>
                <textarea rows="7" id="requestText" placeholder="Свяжитесь с нами"></textarea>
                <p></p>
                <button type="button" onclick="sendRequest()">Отправить</button>
            </div>
        </div>
        <div id="recruitingEditing" style="display:none;">
            <textarea rows="40" id="changedRecruitingText"></textarea>
            <button id="changeR" onclick="changeRecruitingText()">Change</button>
            <button id="cancelR" onclick="goBackToRecruiting()">Cancel</button>
        </div>

        <div id="announcements" style="display: none">
            <section class="messages">

            </section>

            <div class="sending">
                <textarea rows="1" id="new_announcement"></textarea>
                <p></p>
                <button id="sendAnnouncement" type="button" onclick="createAnnouncement()">Send</button>
                <button id="changeAnnouncement" type="button" onclick="changeAnnouncement()" style="display: none">Change</button>
            </div>
        </div>

    </div>
</div>
<footer>
    <div id="contacts">
        <div id="vk" onclick="vk()">VK |</div>
        <div id="dis" onclick="discord()">Discord</div>
    </div>
    <div id="aT">
    </div>
    <div id="support" onclick="goToSupport()">Support</div>
</footer>
<script src="/static/js/inform.js"></script>
</body>
</html>