<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script th:inline="javascript">
        var message = [[${message}]];
    </script>
    <link rel="stylesheet" href="/static/css/general.css">

</head>
<body>
<header>
<section class="top">
    <a th:href="@{/}" class="icon">After Dark</a>
</section>
</header>
<div class="center">
Login
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div id="mss"></div>
<form th:action="@{/login}" method="post">
    <p/>
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <p/>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <p/>
    <div onload="mss()"><input type="submit" value="Sign In"/></div>
</form>
<button type="button" onclick="goToRegistration()">Registration</button>
</div>

<footer>
    <div id="contacts">
        <div id="vk" onclick="vk()">VK |</div>
        <div id="dis" onclick="discord()">Discord</div>
    </div>
    <div id="aT">
    </div>
</footer>
<script>
    function goToRegistration() {
        location.href = "/registration";
    }

    $(document).ready(function () {
        mss();
    });
    function mss() {
        var mess = document.getElementById("mss");
        if (message === null) {
            mess.innerText = ""
        } else {
            console.log("message: " + message);
            mess.innerText = message;
        }
    }
</script>
</body>
</html>