<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>After Dark</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script th:inline="javascript">
        var user = [[${user}]];
    </script>

</head>
<body>
<section class="top">
    <p><a th:href="@{/}" class="icon">After Dark</a></p>
    <p><a th:href="@{/main}" class="cabinet"></a></p>
    <p><a th:href="@{/users/profile}">Profile</a></p>
    <form th:action="@{/logout}" method="post" class="logout">
        <input type="submit" value="Sign Out"/>
    </form>
    <p><a th:href="@{/login}" class="login">Login</a></p>
    <p><a th:href="@{/registration}" class="registration">Registration</a></p>
</section>

<section class="filter_characters">
    <input class="filter_characters" type="text">
    <button type="button" onclick="filter()">Show</button>
</section>
<div class="lab">Your characters</div>

<section class="characters">
    <input type="text" id="new_char">
    <button type="button" id="add_char" onclick="addCharToUser()">Add Character</button>
    <table>
        <tbody id="body">
        <tr id="titles">
            <th class="head">Name</th>
            <th class="head">Class</th>
            <th class="head">Level</th>
            <th class="head">Rang</th>
            <th class="head">Links</th>
        </tr>

        </tbody>
    </table>

</section>
<section id="inform">
    <p><a th:href="@{/information}">About After Dark</a></p>
</section>

<script src="/static/js/main.js"></script>
</body>
</html>