<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>After Dark</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script th:inline="javascript">
        var user = [[${user}]];

    </script>
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/general.js"></script>

</head>
<body>
<header>
    <section class="top">
        <a th:href="@{/}" class="icon">
            <img src="../static/img/alliance.png" height="55" width="55"/>
        </a>
        <form th:action="@{/logout}" method="post" class="logout">
            <input type="submit" value="Sign Out"/>
        </form>
        <a th:href="@{/main}" class="cabinet"></a>
        <a th:href="@{/login}" class="login">Login</a>
        <a th:href="@{/registration}" class="registration">Registration</a>
        <a th:href="@{/chat_room}" class="chat_room">Chat</a>
        <a th:href="@{/users/profile}" class="profile">Profile</a>
    </section>
</header>
<div class="center">
    <div class="lab">Your characters</div>

    <section class="characters">
        <input type="text" id="new_char">
        <button type="button" id="add_char" onclick="addCharToUser()">Add Character</button>
        <div id="usr_characters_list">
            <table id="myTable">
                <thead id="titles">
                <tr>
                    <th class="head">Name</th>
                    <th class="head">Rang</th>
                    <th class="head">Level</th>
                    <th class="head">Class</th>
                    <th class="head">Links</th>
                </tr>
                </thead>
                <tbody id="body">


                </tbody>
            </table>
        </div>

    </section>
    <section id="inform">
        <p><a th:href="@{/information}">About After Dark</a></p>
    </section>
</div>

<footer>
    <div id="contacts">
        <div id="vk" onclick="vk()">VK |</div>
        <div id="dis" onclick="discord()">Discord</div>
    </div>
    <div id="aT">
    </div>
    <div id="support" onclick="goToSupport()">Support</div>
</footer>
<script src="/static/js/main.js"></script>
</body>
</html>