<!DOCTYPE html>
<html class="html" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password recovery</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/login.css">

</head>
<body>
<header>
    <section class="top">
        <a th:href="@{/}" class="icon">After Dark</a>
        <button type="button" id="go_login_btn" onclick="goToLoginPage()">Login</button>
    </section>
</header>
<div class="center">
    <div id="recovery_form">
    <div class="field"><label class="field2">Введите email или никнейм</label><input type="text"  name="username" id="usr_identification"/>
    <label id="error_identification"></label> </div>
    <button id="check_usr" onclick="checkingUser()">Отправить</button>
    </div>
</div>

<footer>
    <div id="contacts">
        <div id="vk" onclick="vk()">VK |</div>
        <div id="dis" onclick="discord()">Discord</div>
    </div>
    <div id="aT">
    </div>
</footer>
<script src="../static/js/recovery.js"></script>
</body>
</html>