<!DOCTYPE html>
<html class="html" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="../static/js/registration.js"></script>
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="../static/js/general.js"></script>
    <script th:inline="javascript">
        var errors = [[${errors}]];
    </script>

</head>
<body>
<header>
    <section class="top">
        <a th:href="@{/}" class="icon">
            <img src="../static/img/alliance.png" height="55" width="55"/>
        </a>
        <button type="button" id="go_login_btn" onclick="goToLoginPage()">Login</button>
    </section>
</header>

<div class="center">
    <div class="reg_form">
        <a style="position: relative; left: 40%">Registration</a>
        </p><label class="field3" id="error"></label>
        <label id="usr" class="field3"></label>
        <div class="field"><label class="field2">User Name</label><input type="text" class="user_name"
                                                                         placeholder="Username"/>
        </div>
        <label id="email" class="field3"></label>
        <div class="field"><label class="field2">Email</label><input type="email" name="email" class="email"
                                                                     placeholder="Email"/>

        </div>
        <label id="pas1" class="field3"></label>
        <div class="field"><label class="field2">Password</label><input type="password" class="user_password"
                                                                        placeholder="Password"/>
        </div>
        <label id="pas2" class="field3"></label>
        <div class="field"><label class="field2">Password confirm</label><input type="password" class="user_password2"
                                                                                placeholder="Retype password"/>
        </div>

        <section>
            <label id="capt" class="field3"></label>
            <div class="g-recaptcha" data-sitekey="6Le53KkUAAAAANUvm29VY1Fv8pSmEzJuGKFPhorK"></div>
        </section>
        <button type="button" id="registration_btn" onclick="registration()">Registration</button>
    </div>
</div>

<footer>
    <div id="contacts">
        <div id="vk" onclick="vk()">VK |</div>
        <div id="dis" onclick="discord()">Discord</div>
    </div>
    <div id="aT">
    </div>
    <div id="support" onclick="goToSupport()">Support</div>
</footer>
<script src="/static/js/registration.js"></script>
</body>
</html>