<!DOCTYPE html>
<html class="html" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="../static/js/registration.js"></script>

</head>
<body>
<section class="top">
    <p><a th:href="@{/}" class="icon" >After Dark</a></p>
</section>
Registration

<section>
    <label class="error"></label>
    <p/><label> User Name<input type="text" class="user_name" placeholder="Username"><label id="usr"></label> </label>
    <p/><label> Email<input type="email" name="email" class="email" placeholder="Email"><label
        id="email"></label></label>
    <p/><label> Password<input type="password" class="user_password" placeholder="Password"><label
        id="pas1"></label></label>
    <p/><label> Password<input type="password" class="user_password2" placeholder="Retype password"><label
        id="pas2"></label></label>
    <p/>
    <section>
        <label class="capt"></label>
        <div class="g-recaptcha" data-sitekey="6Le53KkUAAAAANUvm29VY1Fv8pSmEzJuGKFPhorK"></div>
    </section>
    <button type="button" onclick="registration()">Registration</button>
</section>

<script src="/static/js/registration.js"></script>
<footer>
    <div id="contacts">
        <div id="vk" onclick="vk()">VK |</div>
        <div id="dis" onclick="discord()">Discord</div>
    </div>
    <div id="aT">
    </div>
</footer>
</body>
</html>